* {
    margin: 0;
    padding: 0;
}

.container {
    margin: 50px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 90%;

    .button-create-note {
        align-self: flex-end;
        margin: 20px 0;
        font-size: 18px;
        padding: 5px 10px;
        cursor: pointer;
        border-radius: 5px;
    }
}

.table-header {
    display: flex;
    background: #999999;
    color: #fff;

    .button {
        cursor: pointer;

        &:hover {
            font-size: 24px;
            transition: font-size 400ms;
        }
    }
}

.table-notes,
.table-summary {
    width: 100%;

    .button {
        margin-left: 10px;
        border: none;
        outline: none;
        background: none;
        width: 28px;
        height: 28px;
        font-size: 20px;
    }

    .table-header {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        border-radius: 5px;

        .header-name,
        .header-buttons{
            padding: 5px;
            font-size: 18px;
            font-family: Arial, Helvetica, sans-serif;
            flex: 1;
            text-align: center;
        }

        .header-buttons {
            font-family: "Lucida Sans Unicode", "Arial Unicode MS";
            vertical-align: middle;
            text-align: right;
            display: flex;
            flex: 1;
            justify-content: end;
        }
    }

    .table-notes-item {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background: #e8eaf5;
        height: 45px;
        margin-top: 5px;
        border-radius: 5px;

        &.archived {
            display: none;
        }

        .note-info {
            flex: 1;
            padding: 5px;
            font-size: 16px;
            font-family: Arial, Helvetica, sans-serif;
            text-align: center;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &:first-of-type {
                text-align: left;

                i {
                    font-size: 20px;
                    background-color: #505050;
                    color: #fff;
                    padding: 7px;
                    border-radius: 50%;
                    width: 20px;
                    height: 20px;
                    text-align: center;
                }
            }
        }

        .note-buttons {
            display: flex;
            flex: 1;
            justify-content: end;
            padding-right: 5px;

            .button {
                cursor: pointer;

                &:hover {
                    font-size: 24px;
                    transition: font-size 400ms;
                }
            }
        }
    }

}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

/* Modal Content */
.modal-content {
    display: flex;
    width: 100%;
    flex-direction: column;
    position: relative;
    background-color: #fefefe;
    margin: auto;
    padding: 0 10px 10px 10px;
    border: 1px solid #888;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s;

    span,
    label,
    input,
    select,
    fieldset,
    textarea{
        padding: 5px;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        resize: none;
    }
}

@-webkit-keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

@keyframes animatetop {
    from {
        top: -300px;
        opacity: 0
    }

    to {
        top: 0;
        opacity: 1
    }
}

.close {
    display: flex;
    color: #6e6e6e;
    font-size: 28px;
    font-weight: bold;
    flex-direction: row-reverse;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
